.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%; /* Adjust width as needed */
    text-align: left;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-right: 20px; /* Add margin to the right of the image */
}

.product-description {
    max-height: 10vh; /* 10% of the viewport height */
    overflow-y: auto; /* Enable vertical scroll and show scrollbar when needed */
}

.product-description p {
    margin: 0;
    text-align: left;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info p {
    margin: 5px 0;
}

.product-info p:nth-child(1) {
    font-weight: bold;
}

.product-info p:nth-child(2) {
    color: #888;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.product-detail button {
    margin-bottom: 20px;
}

.product-content {
    width: 100%;
}

.product-creator,
.product-content h1,
.product-content p {
    text-align: left;
}

.product-availability {
    text-align: right;
    color: red;
    align-self: flex-end;
}

.product-3dmodel {
    height: 40%;
    width: 90%;
    margin: 20px 0;
}

.product-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-left {
    display: flex;
    flex-direction: column;
}

.product-left p {
    margin-bottom: 10px;
}

.product-left button {
    margin-bottom: 10px;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-right p {
    margin-bottom: 10px;
}

.product-right button img {
    width: 24px;
    height: 24px;
}
