.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* Adjust width as needed */
    text-align: left;
}

.product-3dmodel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000; /* Ensure it overlays other elements */
  }

.Blank_Space {
    height: 30vh; /* 30% of the viewport height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neon-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #db7ddb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; /* High z-index to overlay other elements */
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff;
    transition: all 0.3s ease-in-out;
}

.neon-button:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
}
  
  .product-3dmodel canvas {
    width: 100%;
    height: 100%;
  }  

.product img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-right: 20px; /* Add margin to the right of the image */
}

.product-description {
    max-height: 7vh; /* 10% of the viewport height */
    overflow-y: auto; /* Enable vertical scroll and show scrollbar when needed */
}

.product-description p {
    margin: 0;
    text-align: left;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info p {
    margin: 5px 0;
}

.product-info p:nth-child(1) {
    font-weight: bold;
}

.product-info p:nth-child(2) {
    color: #888;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.product-detail button {
    margin-bottom: 20px;
}

.product-content {
    width: 100%;
}

.product-creator,
.product-content h1,
.product-content p {
    text-align: left;
}

.product-availability {
    text-align: right;
    color: red;
    align-self: flex-end;
}
å
.product-main {
    display: flex;å
    width: 100%;
}

.product-left {
    display: flex;
    flex-direction: column;
}

.product-left p {
    margin-bottom: 10px;
}

.product-left button {
    margin-bottom: 10px;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-right p {
    margin-bottom: 10px;
}

.product-right button img {
    width: 24px;
    height: 24px;
}
